<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="saveLocationProd" value="c:\yngve\server\hotjar\data\" />
      <add key="saveLocation" value="C:\github\toto-status\server\hotjar\data"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>