<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net461" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Selenium.Support" version="3.5.2" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.5.2" targetFramework="net461" />
  <package id="Selenium.Webdriver.Domify" version="3.1.0" targetFramework="net461" />
</packages>