<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net461" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Selenium.Support" version="2.35.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.35.0" targetFramework="net461" />
  <package id="Selenium.Webdriver.Domify" version="2.1.20" targetFramework="net461" />
</packages>